In [4]:
import pandas as pd
import numpy as np

In [75]:
#import packages
import pandas as pd
import numpy as np

#Grabber function to simplify dataset loading in notebook
def grab_dataset(dataset, timeframe):
    
    #check for available datasets and timeframe
    if dataset not in ['global_temp', 'electricity', 'co2', 'ch4']:
        raise ValueError("not a valid dataset")
    if timeframe not in ['yearly', 'monthly']:
        raise ValueError("not a valid timeframe")
    
    #check for timeframe reference
    if timeframe == "monthly":
        
        #global temp data grabber
        if dataset == 'global_temp':
            months_abv = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            global_temp_raw = pd.read_csv('data/global-temp-monthly.csv')
            global_temp = pd.melt(global_temp_raw, id_vars=['Year'], value_vars=months_abv)
            global_temp = global_temp.rename(columns={'Year': 'year', 'variable': 'month', 'value': 'temp_change'})
            return global_temp
        
        #electricity generation data grabber
        if dataset == 'electricity':
            elec_raw = pd.read_csv('data/electricity-overview-monthly.csv')
            
            #grab electricity net generation across all sectors
            elec_raw = elec_raw[elec_raw['Description'] == 'Electricity Net Generation, Total']
            
            #all previous years are yearly averages
            elec_raw = elec_raw[elec_raw['YYYYMM'] >= 197301]
            elec_raw['YYYYMM'] = elec_raw['YYYYMM'].astype("string")
            elec_raw['month'] = elec_raw['YYYYMM'].str[-2:]
            elec_raw['year'] = elec_raw['YYYYMM'].str[:4]
            
            #month replacement for dataset uniformity
            month_rep = {'01': 'Jan',
                        '02': 'Feb',
                        '03': 'Mar',
                        '04': 'Apr',
                        '05': 'May',
                        '06': 'Jun',
                        '07': 'Jul',
                        '08': 'Aug',
                        '09': 'Sep',
                        '10': 'Oct',
                        '11': 'Nov',
                        '12': 'Dec',}
            elec_raw['month'] = elec_raw['month'].replace(month_rep)

            elec = elec_raw[['year', 'month', 'Value']]
            elec = elec.rename(columns = {'Value': 'elec_generation'})
            elec = elec.reset_index(drop = True)
            return elec
            
        #co2 data grabber    
        if dataset == 'co2':
            co2_raw = pd.read_csv('data/co2-monthly.csv', comment = '#')
            
            #month replacement for dataset uniformity
            month_rep = {1: 'Jan',
                        2: 'Feb',
                        3: 'Mar',
                        4: 'Apr',
                        5: 'May',
                        6: 'Jun',
                        7: 'Jul',
                        8: 'Aug',
                        9: 'Sep',
                        10: 'Oct',
                        11: 'Nov',
                        12: 'Dec',}
            co2_raw['month'] = co2_raw['month'].replace(month_rep)
            
            co2 = co2_raw[['year', 'month', 'average']]
            co2 = co2.rename(columns = {'average': 'average_co2'})
            return co2
        
        #methane data grabber
        if dataset == 'ch4':
            ch4_raw = pd.read_csv('data/ch4-monthly.csv', comment = '#')
            
            month_rep = {1: 'Jan',
                        2: 'Feb',
                        3: 'Mar',
                        4: 'Apr',
                        5: 'May',
                        6: 'Jun',
                        7: 'Jul',
                        8: 'Aug',
                        9: 'Sep',
                        10: 'Oct',
                        11: 'Nov',
                        12: 'Dec',}
            ch4_raw['month'] = ch4_raw['month'].replace(month_rep)
            
            ch4 = ch4_raw[['year', 'month', 'average']]
            ch4 = ch4.rename(columns = {'average': 'average_ch4'})
            return ch4
        
        
    #yearly data grab (UNFINISHED)
    else:
        return 1

In [80]:
grab_dataset('global_temp', 'monthly')

      year month  temp_change
0     1880   Jan        -0.19
1     1881   Jan        -0.20
2     1882   Jan         0.16
3     1883   Jan        -0.29
4     1884   Jan        -0.13
...    ...   ...          ...
1723  2019   Dec         1.09
1724  2020   Dec         0.80
1725  2021   Dec         0.86
1726  2022   Dec         0.80
1727  2023   Dec         1.37

[1728 rows x 3 columns]

In [64]:
list(month_rep.keys())

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [72]:
elec_raw = pd.read_csv('data/electricity-overview-monthly.csv')
elec_raw = elec_raw[elec_raw['Description'] == 'Electricity Net Generation, Total']
elec_raw = elec_raw[elec_raw['YYYYMM'] >= 197301]
elec_raw['YYYYMM'] = elec_raw['YYYYMM'].astype("string")
elec_raw['month'] = elec_raw['YYYYMM'].str[-2:]
elec_raw['year'] = elec_raw['YYYYMM'].str[:4]

month_rep = {'01': 'Jan',
            '02': 'Feb',
            '03': 'Mar',
            '04': 'Apr',
            '05': 'May',
            '06': 'Jun',
            '07': 'Jul',
            '08': 'Aug',
            '09': 'Sep',
            '10': 'Oct',
            '11': 'Nov',
            '12': 'Dec',}

elec_raw['month'] = elec_raw['month'].replace(month_rep)

elec = elec_raw[['year', 'month', 'Value']]
elec = elec.rename(columns = {'Value': 'elec_generation'})
elec = elec.reset_index(drop = True)
elec

     year month elec_generation
0    1973   Jan         160.218
1    1973   Feb         143.539
2    1973   Mar         148.158
3    1973   Apr         139.589
4    1973   May         147.395
..    ...   ...             ...
655  2023   Jun         356.672
656  2023   Jul         425.611
657  2023   Aug         423.934
658  2023   Sep         358.136
659  2023   Oct         329.428

[660 rows x 3 columns]

In [24]:
df['YYYYMM'].unique()

array([194913, 195013, 195113, 195213, 195313, 195413, 195513, 195613,
       195713, 195813, 195913, 196013, 196113, 196213, 196313, 196413,
       196513, 196613, 196713, 196813, 196913, 197013, 197113, 197213,
       197301, 197302, 197303, 197304, 197305, 197306, 197307, 197308,
       197309, 197310, 197311, 197312, 197313, 197401, 197402, 197403,
       197404, 197405, 197406, 197407, 197408, 197409, 197410, 197411,
       197412, 197413, 197501, 197502, 197503, 197504, 197505, 197506,
       197507, 197508, 197509, 197510, 197511, 197512, 197513, 197601,
       197602, 197603, 197604, 197605, 197606, 197607, 197608, 197609,
       197610, 197611, 197612, 197613, 197701, 197702, 197703, 197704,
       197705, 197706, 197707, 197708, 197709, 197710, 197711, 197712,
       197713, 197801, 197802, 197803, 197804, 197805, 197806, 197807,
       197808, 197809, 197810, 197811, 197812, 197813, 197901, 197902,
       197903, 197904, 197905, 197906, 197907, 197908, 197909, 197910,
       197911, 197912, 197913, 198001, 198002, 198003, 198004, 198005,
       198006, 198007, 198008, 198009, 198010, 198011, 198012, 198013,
       198101, 198102, 198103, 198104, 198105, 198106, 198107, 198108,
       198109, 198110, 198111, 198112, 198113, 198201, 198202, 198203,
       198204, 198205, 198206, 198207, 198208, 198209, 198210, 198211,
       198212, 198213, 198301, 198302, 198303, 198304, 198305, 198306,
       198307, 198308, 198309, 198310, 198311, 198312, 198313, 198401,
       198402, 198403, 198404, 198405, 198406, 198407, 198408, 198409,
       198410, 198411, 198412, 198413, 198501, 198502, 198503, 198504,
       198505, 198506, 198507, 198508, 198509, 198510, 198511, 198512,
       198513, 198601, 198602, 198603, 198604, 198605, 198606, 198607,
       198608, 198609, 198610, 198611, 198612, 198613, 198701, 198702,
       198703, 198704, 198705, 198706, 198707, 198708, 198709, 198710,
       198711, 198712, 198713, 198801, 198802, 198803, 198804, 198805,
       198806, 198807, 198808, 198809, 198810, 198811, 198812, 198813,
       198901, 198902, 198903, 198904, 198905, 198906, 198907, 198908,
       198909, 198910, 198911, 198912, 198913, 199001, 199002, 199003,
       199004, 199005, 199006, 199007, 199008, 199009, 199010, 199011,
       199012, 199013, 199101, 199102, 199103, 199104, 199105, 199106,
       199107, 199108, 199109, 199110, 199111, 199112, 199113, 199201,
       199202, 199203, 199204, 199205, 199206, 199207, 199208, 199209,
       199210, 199211, 199212, 199213, 199301, 199302, 199303, 199304,
       199305, 199306, 199307, 199308, 199309, 199310, 199311, 199312,
       199313, 199401, 199402, 199403, 199404, 199405, 199406, 199407,
       199408, 199409, 199410, 199411, 199412, 199413, 199501, 199502,
       199503, 199504, 199505, 199506, 199507, 199508, 199509, 199510,
       199511, 199512, 199513, 199601, 199602, 199603, 199604, 199605,
       199606, 199607, 199608, 199609, 199610, 199611, 199612, 199613,
       199701, 199702, 199703, 199704, 199705, 199706, 199707, 199708,
       199709, 199710, 199711, 199712, 199713, 199801, 199802, 199803,
       199804, 199805, 199806, 199807, 199808, 199809, 199810, 199811,
       199812, 199813, 199901, 199902, 199903, 199904, 199905, 199906,
       199907, 199908, 199909, 199910, 199911, 199912, 199913, 200001,
       200002, 200003, 200004, 200005, 200006, 200007, 200008, 200009,
       200010, 200011, 200012, 200013, 200101, 200102, 200103, 200104,
       200105, 200106, 200107, 200108, 200109, 200110, 200111, 200112,
       200113, 200201, 200202, 200203, 200204, 200205, 200206, 200207,
       200208, 200209, 200210, 200211, 200212, 200213, 200301, 200302,
       200303, 200304, 200305, 200306, 200307, 200308, 200309, 200310,
       200311, 200312, 200313, 200401, 200402, 200403, 200404, 200405,
       200406, 200407, 200408, 200409, 200410, 200411, 200412, 200413,
       200501, 200502, 200503, 200504, 200505, 200506, 200507, 200508,
       200509, 200510, 200511, 200512, 200513, 200601, 200602, 200603,
       200604, 200605, 200606, 200607, 200608, 200609, 200610, 200611,
       200612, 200613, 200701, 200702, 200703, 200704, 200705, 200706,
       200707, 200708, 200709, 200710, 200711, 200712, 200713, 200801,
       200802, 200803, 200804, 200805, 200806, 200807, 200808, 200809,
       200810, 200811, 200812, 200813, 200901, 200902, 200903, 200904,
       200905, 200906, 200907, 200908, 200909, 200910, 200911, 200912,
       200913, 201001, 201002, 201003, 201004, 201005, 201006, 201007,
       201008, 201009, 201010, 201011, 201012, 201013, 201101, 201102,
       201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110,
       201111, 201112, 201113, 201201, 201202, 201203, 201204, 201205,
       201206, 201207, 201208, 201209, 201210, 201211, 201212, 201213,
       201301, 201302, 201303, 201304, 201305, 201306, 201307, 201308,
       201309, 201310, 201311, 201312, 201313, 201401, 201402, 201403,
       201404, 201405, 201406, 201407, 201408, 201409, 201410, 201411,
       201412, 201413, 201501, 201502, 201503, 201504, 201505, 201506,
       201507, 201508, 201509, 201510, 201511, 201512, 201513, 201601,
       201602, 201603, 201604, 201605, 201606, 201607, 201608, 201609,
       201610, 201611, 201612, 201613, 201701, 201702, 201703, 201704,
       201705, 201706, 201707, 201708, 201709, 201710, 201711, 201712,
       201713, 201801, 201802, 201803, 201804, 201805, 201806, 201807,
       201808, 201809, 201810, 201811, 201812, 201813, 201901, 201902,
       201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910,
       201911, 201912, 201913, 202001, 202002, 202003, 202004, 202005,
       202006, 202007, 202008, 202009, 202010, 202011, 202012, 202013,
       202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108,
       202109, 202110, 202111, 202112, 202113, 202201, 202202, 202203,
       202204, 202205, 202206, 202207, 202208, 202209, 202210, 202211,
       202212, 202213, 202301, 202302, 202303, 202304, 202305, 202306,
       202307, 202308, 202309, 202310])